@import './base.css';

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

a {
  color: var(--color-link);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}
