*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-size: 15px;
  line-height: 1.6;
  @include fontLato;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

a,
button {
  cursor: pointer;
}

a {
  color: var(--color-link);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}
