:root {
  --c-white: #ffffff;

  --c-indigo: #2c3e50;
  --c-indigo-light: #2d5781;
  --c-indigo-dark: #1e3750;

  --c-main: #83AF9B;
  --c-main-light: #B3CFC2;
  --c-main-dark: #5B957B;
  --c-main-dark-2: #367B5C;
  --c-main-dark-3: #266b4c;
  --c-main-dark-4: #1c5c3f;

  --c-gray: #d3d3d3;
  --c-gray-light: #eee;
  --c-gray-dark: #bbbbbb;

  --b-radius-s: 3px;
  --b-radius-m: 5px;
  --b-radius-l: 10px;
  --b-radius-xl: 20px;
}

body.coral {
  --c-main: #F8B195;
  --c-main-light: #FFD1BE;
  --c-main-dark: #DC8563;
  --c-main-dark-2: #cf6c44;
  --c-main-dark-3: #b85630;
  --c-main-dark-4: #9b4421;
}

body {
  --color-bg: var(--c-main);
  --color-bg-light: var(--c-main-light);
  --color-bg-dark: var(--c-main-dark);
  --color-bg-dark-2: var(--c-main-dark-2);
  --color-bg-dark-3: var(--c-main-dark-3);
  --color-bg-dark-4: var(--c-main-dark-4);
  --color-bg-white: var(--c-white);

  --color-border: var(--c-gray);
  --color-border-hover: var(--c-gray-dark);
  --color-border-light: var(--c-gray-light);

  --color-text: var(--c-indigo);
  --color-text-contrast: var(--c-white);
  --color-link: var(--c-indigo-light);
  --color-link-hover: var(--c-indigo-dark);
}
