:root {
  --c-green: #83AF9B;
  --c-coral: #F8B195;
  --c-purple: #B4A3CF;
  --c-brown: #AB9F77;
  --c-blue: #B9D7D9;
  --c-light: #eee;
  --c-dark: #2A2C31;
}

:root {
  --c-white: #ffffff;

  --c-indigo: #2c3e50;
  --c-indigo-light: #2d5781;
  --c-indigo-dark: #1e3750;

  --c-gray: #d3d3d3;
  --c-gray-light: #eee;
  --c-gray-dark: #bbbbbb;

  --b-radius-s: 3px;
  --b-radius-m: 5px;
  --b-radius-l: 10px;
  --b-radius-xl: 20px;
}

body,
body.green {
  --c-main: #83AF9B;
  --c-main-light: #B3CFC2;
  --c-main-dark: #5B957B;
  --c-main-dark-2: #367B5C;
  --c-main-dark-3: #266b4c;
  --c-main-dark-4: #1c5c3f;
}

body.coral {
  --c-main: #F8B195;
  --c-main-light: #FFD1BE;
  --c-main-dark: #DC8563;
  --c-main-dark-2: #cf6c44;
  --c-main-dark-3: #b85630;
  --c-main-dark-4: #9b4421;
}

body.purple {
  --c-main: #B4A3CF;
  --c-main-light: #c1b3d6;
  --c-main-dark: #a38cc7;
  --c-main-dark-2: #987bc7;
  --c-main-dark-3: #7f58be;
  --c-main-dark-4: #6d42b3;
}

body.brown {
  --c-main: #AB9F77;
  --c-main-light: #c7bb95;
  --c-main-dark: #857850;
  --c-main-dark-2: #6d5d2c;
  --c-main-dark-3: #645320;
  --c-main-dark-4: #554410;
}

body.blue {
  --c-main: #B9D7D9;
  --c-main-light: #d9eef0;
  --c-main-dark: #7bb5b9;
  --c-main-dark-2: #41a6ad;
  --c-main-dark-3: #219199;
  --c-main-dark-4: #04848d;
}

body.light {
  --c-main: #f7f7f7;
  --c-main-light: #f8f8f8;
  --c-main-dark: #ddd;
  --c-main-dark-2: #b9b9b9;
  --c-main-dark-3: #b3b3b3;
  --c-main-dark-4: #979797;
}

body.dark {
  --c-main: #2A2C31;
  --c-main-light: #17191d;
  --c-main-dark: #3e4046;
  --c-main-dark-2: #6b6c74;
  --c-main-dark-3: #53575e;
  --c-main-dark-4: #7d7e83;
}

body {
  --color-bg: var(--c-main);
  --color-bg-light: var(--c-main-light);
  --color-bg-dark: var(--c-main-dark);
  --color-bg-dark-2: var(--c-main-dark-2);
  --color-bg-dark-3: var(--c-main-dark-3);
  --color-bg-dark-4: var(--c-main-dark-4);
  --color-bg-white: var(--c-white);

  --color-border: var(--c-gray);
  --color-border-hover: var(--c-gray-dark);
  --color-border-light: var(--c-gray-light);

  --color-text: var(--c-indigo);
  --color-text-contrast: var(--c-white);
  --color-acent: var(--c-main-dark);
  --color-link: var(--c-indigo-light);
  --color-link-hover: var(--c-indigo-dark);
}

body.light {
  --color-text-contrast: var(--c-indigo);
}
